# Ignore all OS/platform build/config files for stats
/android/** linguist-vendored
/ios/** linguist-vendored
/linux/** linguist-vendored
/macos/** linguist-vendored
/windows/** linguist-vendored

# Ignore Makefile-related stats
*.mk linguist-vendored
Makefile linguist-vendored

# Force Dart as primary language
*.dart linguist-detectable=true
*.dart linguist-language=Dart
